@import 'node_modules/bootstrap/scss/bootstrap';

@import './partials/variables.scss';

#body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(.fa-regular, .fa-brands, .fa-solid){
    font-family: Arial, Helvetica, sans-serif;
}

