// colors palette

$white: white;
$buttercup: #f2b71d;
$mineshaft: #252525;
$silver: #bcbcbc;
$dovegray: #6b6b6b;
$shakespeare: #52b9cb;
$amethyst: #be43cb;
$butteredrum: #a2790e;
$bahamablue: #03609f;
$koumikova: #fee478;

$capecod: #373839;
$blackhaz: #e4e7e7;
$fuelyellow: #ebb024;
$russett: #7d5d57;
$fountainblue: #4ebdc6;

$fountainblue-vibrant: #53b8c5;
$abbey: #4d5156;
$firefly: #0d2229;
$shark: #252627;
$calico: #e1c599;